.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/images/bg.jpg');


    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        width: 400px;
        height: 60%;
        gap: 10px;
        background-color: rgba(0, 0, 0, 0.308);
        backdrop-filter: blur(6px);
        border-radius: 15px;

        input {
            color: rgb(0, 0, 0);
            color: white;

            border-color: white;
        }



    }
}