.navbar {
    width: 100%;
   
    padding-right: 7px;

    background-color: rgb(255, 255, 255);
    grid-column: span 2;
    display: flex;
    align-items: center;
    // justify-content: left;
    justify-content: space-between;

    .brand {
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Lexend';


        img {
            width: 50px;
            aspect-ratio: 1/1;
            object-fit: cover;
            scale: 1.1;
        }
    }
}